streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.40
langchain-text-splitters==0.2.4
langchain-openai==0.1.23
langchain-google-genai==1.0.10
openai>=1.40
google-generativeai
faiss-cpu
PyPDF2
python-dotenv
beautifulsoup4
